*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
:root{
    --main-font: "Antic", sans-serif;
    --bold-font: "Cherry Bomb One", system-ui;
    --main-color: rgb(77,8,37);
}
body{
    /*background-image: linear-gradient(to right, #fff, rgba(240,240,240, .8));
    background-repeat: no-repeat;*/
}
.cherry-bomb one-regular {
    font-weight: 400;
    font-style: normal;
  }
.hide{
    display: none;
}
  /******************************** MENU BAR  ***************************************/
#navbar{
    width: 100%;
    padding: 5px 0px;
    position: sticky;
    top: 0;
    font-family: var(--main-font);
    background-color: #ffffff;
    z-index: 999;
}
#navbar > div {
    width: 75%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-bar{
    display: flex;
    gap: 6rem;
}
#menu-bar > div:first-child{
    display: flex;
    gap: 4.5rem
}
#navbar a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 400;
}
#navbar i{
    font-size: 1.25rem;
    cursor: pointer;
}
#navbar a:hover{
    color: rgb(252,162,11);
}
#navbar a:active{
    color: rgb(252,162,11);
}

/************************************* END OF MENU BAR **************************************************/

/*************************************MAIN BANNER ******************************************************/
#main-banner{
    height: 100vh;
    background-image: linear-gradient(to right, #fff, rgba(240,240,240, .8));
    background-image: url(https://i.ibb.co/ZHT85b6/fruit-splash.png);
    background-repeat: no-repeat;
    background-position: -50% -70%;
}
#main-banner > div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#main-banner p{
    font-family: var(--main-font);
    font-size: 1.20rem;
    font-weight: 400;
}
#main-banner h2{
    font-family: var(--bold-font);
    font-size: 3.5rem;
}
#header-writ{
    margin-block-start: .85rem;
}
#healthy{
    margin-block: .85rem;
    color: rgb(32,145,37);
}
#main-banner a{
    background-color: rgb(77,8,37);
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
    padding: 17px 45px;
    display: inline-block;
    margin-block-start: 25px;
    border-radius: 8px;
    box-shadow: 5px 8.5px 10px rgba(77,8,37, .5);
}
/*************************************END OF MAIN  BANNER  *********************************************/

/************************************* START OF  WHY FRUIT AND VEGGIES *********************************/

#fruit-veggies{
    height: 90vh;
    width: 100vw;
    background-image: url(https://i.ibb.co/cQxJRkW/fruit-pallete.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px;
}
#fruit-veggies-left{
    width: 50%
}
#fruit-veggies-left h2{
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    background-color: rgba(30,30,30, .45);
    border: none;
    box-shadow: 0px 0px 30px rgba(120,120,120, 1);
    width: 50%;
    margin: auto;
}
#fruit-veggies-right{
    width: 50%;
}
#fruit-veggies-right-inner{
    background-color: rgba(240,240,240, .55);
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    height: 75vh;
    padding: 2.5rem;
    border-radius: 60px;
    border: 5px solid hsl(89,35%,87%);
}
.veggies-block{
    width: 42%;
    background-color: rgb(247,246,251);
    padding: 1.4rem;
    border-radius: 25px;
}
#fruit-veggies-right-inner > div img{
    margin-bottom: 1rem;
}
.veggies-block-p{
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.veggies-block-p2{
    color: rgb(100,100,100);
}
/************************************* END OF  WHY FRUIT AND VEGGIES *********************************/


/************************************* START OF FRUIT HANDS *********************************/
#fruit-hands{
    height: 100vh;
    background-image: url(https://i.ibb.co/8N4yGmr/fruit-hands.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fruit-hands > div{
    width: 50%;
}
#fruit-hands-left{
    padding-inline: 10rem;
}
.best-fruit{
    color: rgb(254,147,22);
    margin-block-end: 1.3rem;
    font-size: 1rem;
}
.our-store{
    font-size: 4.75rem;
    font-weight: bold;
    font-family: var(--bold-font);
    margin-block-end: .6rem;
}
.who-we-are{
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--main-font);
    margin-block-end: 1rem;
}
#home-aboutus-header{
    display: flex;
}
#home-aboutus-header p{
    border-bottom: 5px solid #000000;
    padding: 14px 20px;
}
.home-aboutus-body{
    max-width: 80%;
    margin-top: 12px;
}
#fruit-hands-right a{
    display: block;
    background-color: rgb(77,8,37);
    color: #fff;
    width: 40%;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    font-size: 2rem;
    font-family: var(--main-font);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgba(180,180,180, 1);
}
/************************************* END OF FRUIT HANDS *********************************/

/************************************* FEATURED FRUITS  ***********************************/
#featured-fruit{
    width: 100vw;
    background-size: cover;
    background-image: url(https://i.ibb.co/z73WqD9/featured-image.jpg);
}
#featured-fruit > div{
    width: 100%;
    text-align: center;
    padding-block: 3rem;
    background-color: rgba(250,250,250, .7);
}
#featured-fruit > div > h1{
    font-family: var(--bold-font);
    font-size: 3.5rem;
}
#featured-fruit > div > p{
    font-size: 1.3rem;
    font-family: var(--main-font);
    margin-top: -15px;
    margin-bottom: 35px;
}
#featured-fruit > div > a{
    background-color: rgb(77,8,37);
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.4rem;
    padding: 20px 65px;
    display: inline-block;
    margin-block-start: 25px;
    border-radius: 8px;
    box-shadow: 5px 8.5px 10px rgba(77,8,37, .5);
}
#featured-fruit > div > a:hover{
    background-color: rgba(77,8,37,.8);
}
.fruit-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: -1rem;
}
.second-fruit-list{
    position: relative;
    top: -20px;
}
#fruit-item{
    width: 33.3%;
    max-height: 280px;
    position: relative;
    overflow: hidden;
}
#fruit-item img{
    filter: brightness(.6);
}
#fruit-item img:hover{
    transform: scale(2);
    transition: transform .3s;
}
#fruit-item  p{
    position: absolute;
    bottom: 50%;
    left: 33%;
    color: #ffffff;
    font-size: 2rem;
    font-family: var(--main-font);
}
/************************************* END OF FEATURED FRUITS  ***********************************/

/**************************************START OF FRUIT CHANGE *************************************/
#fruit-change{
    height: 100vh;
    background-image: linear-gradient(to right, #fff, rgb(200,200,200));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fruit-change > div{
    width: 50%;
}
#fruit-change-left{
    padding-inline: 10rem;
}
#main-fruit-box{
    height: 55vh;
    width: 62%;
    margin: auto;
    border-radius: 50% 50% 0% 0%;
    border: 10px solid rgb(77,8,37);
    overflow: hidden;
}
#main-fruit-box img{
    width: 100%;
    max-height: 100%;
}
#sub-fruit-boxes{
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.sub-fruit-boxes-item{
    width: 18.4%;
    height: 23vh;
    border: 2px solid #000;
    border-radius: 0% 0% 50% 50%;
    overflow: hidden;
}
.sub-fruit-boxes-item img{
    width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.bordered{
    border: 8px solid rgb(77,8,37);
}
/**************************************END OF FRUIT CHANGE *************************************/

/************************************** START OF FRUIT BAG ************************************/
#fruit-bag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    height: 90vh;
    background-image: linear-gradient(to right, #fff, rgb(240,240,240));
}
#fruit-bag-first-writ{
    font-family: var(--main-font);
    color: rgb(254, 147, 22);
    font-size: 1.3rem;
    letter-spacing: 5px;
}
#fruit-bag h2{
    font-size: 5rem;
    font-family: var(--bold-font);
    line-height: 95px;
}
#fruit-bag-offers{
    font-family: var(--main-font);
    font-size: 1.3rem;
}
#fruit-bag-right a{
    background-color: rgb(77,8,37);
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 30px 95px;
    display: inline-block;
    margin-block-start: 25px;
    border-radius: 8px;
    box-shadow: 5px 8.5px 10px rgba(77,8,37);
    cursor: pointer;
}
/************************************** END OF FRUIT BAG ************************************/

/************************************** START OF FRUIT ICE ************************************/
#fruit-ice{
    background-image: url(https://i.ibb.co/Vt40sts/fruit-ice.png);
    background-attachment: fixed;
    background-size: cover;
}
#fruit-ice-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh
}
#fruit-ice-logo > div{
    width: 30%;
    text-align: center;
    padding-inline: 30px;
}
#fruit-ice-logo a{
    text-decoration: none;
    color: rgb(77,8,37);
    background-color: #fff;
    font-size: 2rem;
    display: block;
    padding: 1.5rem 3.5rem;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}
/************************************** END OF FRUIT ICE ************************************/

/************************************** START OF FOOTER *************************************/
#footer{
    height: 50vh;
    background-image: url(https://i.ibb.co/DRyQqKj/scattered-fruits.png);
    background-size: cover;
}
#footer-div{
    position: relative;
    width: 80%;
    height: 70%;
    margin: auto;
    border-radius: 0px 0px 50px 50px;
    background-image: linear-gradient(to right, #fff, rgb(200,200,200));
    padding-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-stay{
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
#footer-connected{
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 400;
}
#footer-subscribe{
    font-family: var(--main-font);
    font-size: 1.2rem;
    margin-top: 2rem;
}
#footer-div-right{
    width: 70%;
}
#footer-socials{
    display: flex;
    justify-content: end;
}
#footer-socials i {
    background-color: #000;
    padding: 15px;
    padding-inline: 17px;
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(240,240,240);
    margin-inline: .25rem;
}
#footer .fa-facebook-f{
    padding-inline: 20px;
}
#footer-mail{
    border: none;
    border-bottom: 4px solid rgb(77,8,37);
    padding: 7px;
    width: 80%;
    background: none;
    font-size: 1.2rem;
}
#footer form{
    margin-top: 4rem;
}
#footer form button{
    background-color: rgb(77,8,37);
    color: #fff;
    font-family: var(--main-font);
    padding: 17px 45px;
    display: inline-block;
    margin-block-start: 25px;
    border-radius: 8px;
    box-shadow: 5px 8.5px 10px rgba(77,8,37, .5);
    border: none;
    cursor: pointer;
}
/************************************** END OF FOOTER  **************************************/